<label [class.focused]="focused" [class.disabled]="!enabled">
    <div class="grow-wrap" [attr.data-replicated-value]="text">
        <textarea rows="1"
                  wrap="soft"
                  [(ngModel)]="text"
                  [placeholder]="placeholder"
                  (focus)="focus()"
                  (blur)="blur()"
                  (keydown.escape)="blur()"
                  (input)="onInput($event)"
                  [disabled]="!enabled"
                  #inputRef></textarea>
    </div>
</label>